:root {
    --green: #B1E18C;
    --purple: #B2ABFF;
    --yellow: #FAE36F;
    --pink: #E8C5F4;
    --dark: #000;
    --light: #FEFBED;
    --border-radius-sm: 12px;
    --border-radius-lg: 24px;
}

@font-face {
    font-family: "Apercu Mono";
    font-style: normal;
    src: url('../fonts/apercu.otf');
}

@font-face {
    font-family: "Cotham";
    font-style: normal;
    src: url('../fonts/cotham.otf');
}

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    width: 100%;
    background: #fff;
}

html,
body {
    font-size: 24px;
    height: 100%;
}

.header {
    height: 96px;
}

body {
    background: linear-gradient(-45deg, var(--purple), var(--green), var(--yellow), var(--pink), var(--purple));
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Apercu Mono', sans-serif;
    font-size: 18px;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.main-bg {
    background: url('../images/bg-pattern.jpg') no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-attachment: fixed;
    mix-blend-mode: multiply;
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.display {
    font-size: 40px;
}

.sans-serif {
    font-family: 'Cotham', sans-serif;
}

.main {
    overflow: auto;
    -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
}

.section {
    padding: 1rem 0;
}

.section, .logo-container {
    z-index: 1;
    position: relative;
}

.box, .logo-container {
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
    overflow: hidden;
}
.box {
    background: var(--light);
    border-radius: var(--border-radius-lg);
    border: 2px solid #000;
}

.box-content {
    padding: 1.5rem;
}

.logo-container {
    background: #000;
    border-radius: 0 0 var(--border-radius-sm) var(--border-radius-sm);
    padding: 1rem;
    display: inline-block;
    margin: 0 auto;
}

.btn, .btn:hover {
    border: 2px solid #000;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius-lg);
}

.btn-lg, .btn-lg:hover {
    font-size: 24px;
}

.btn:hover {
    background: #fff!important;
}

.bg-primary { background: var(--purple) !important; }
.bg-secondary { background: var(--pink) !important; }
.bg-success { background: var(--green) !important; }
.bg-warning { background: var(--yellow) !important; }
.bg-dark { background: var(--dark)!important; }

.text-primary { color: var(--purple) !important; }
.text-secondary { color: var(--pink) !important; }
.text-success { color: var(--green) !important; }
.text-warning { color: var(--yellow) !important; }
.text-light { color: var(--light); }

.btn-primary { background: var(--purple) !important; }
.btn-success { background: var(--green) !important; }
.btn-warning { background: var(--yellow) !important; }

.video-iframe {
    height: 700px;
    margin-bottom: -10px;
}

.font-sm {
    font-size: 15px;
}

.disclaimer {
    border: 1px dashed #000;
    border-radius: var(--border-radius-sm);
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 13px;
}

.footer {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .video-iframe {
        height: 300px;
    }

    .box-content {
        padding: 1rem;
        font-size: 15px;
    }

    .display {
        font-size: 32px;
    }

    .hero-image {
        border-bottom: 2px solid #000;
    }

    .footer {
        flex-direction: column;
    }

    .footer .btn {
        width: 100%;
    }

    .logo-container img {
        max-width: 300px;
    }

    .logo-container {
        font-size: 14px;
    }

    .hero-image {
        height: 350px;
    }

    .hero-image img {
        object-fit: cover;
        width: 100%;
      }
    }
}
